/school-services/dist
/school-services/tmp

# dependencies
/school-services/node_modules
/school-services/bower_components
/school-services/package-lock.json

# IDEs and editors
/school-services/.idea

/web-school/dist
/web-school/tmp

# dependencies
/web-school/node_modules
/web-school/bower_components
/web-school/package-lock.json

# IDEs and editors
/web-school/.idea